html{
  background-color: #121212; /* Fundo escuro */
  overflow-y: hidden !important;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212; /* Fundo escuro */
  padding: 20px;
}

.homeTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff; /* Texto claro para contraste */
  margin-bottom: 20px;
}

.homeForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background: #1e1e1e; /* Fundo levemente mais claro que o fundo principal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra mais sutil */
}

.homeLabel {
  font-size: 1rem;
  color: #cccccc; /* Texto claro para contraste */
  margin-bottom: 8px;
}

.homeInput {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  gap: 3rem;
  border: 1px solid #333333; /* Bordas escuras */
  background-color: #1e1e1e; /* Fundo do input */
  color: #ffffff; /* Texto claro */
  border-radius: 4px;
  margin-bottom: 16px;
  transition: border-color 0.3s ease;
}

.homeInput:focus {
  border-color: #007bff; /* Destaque azul ao focar */
  outline: none;
}

.homeButton {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #ffffff; /* Texto claro */
  background-color: #007bff; /* Azul para contraste */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: #0056b3; 
}

.toggleButton {
  background: none;
  border: none;
  color: #007bff; 
  cursor: pointer;
  margin-top: 15px;
  text-decoration: underline;
  font-size: 1rem;
}

.toggleButton:hover {
  color: #0056b3; 
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}